# Exclusion du dossier /obj crées à la compilation

/obj

# Exlusion de l'executable

fdf

# Exclusion des ".a" et ".o" de la libmlx

*.a
*.o

# Exculsion de /maps2

/fdf_externe
*.zip

# Exclusion des ".DS"

*DS_Store
._*
settings.json
